/* CSS declarations go here */
.single-cost {
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: #ccc solid 2px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-nav {
	margin-left: auto;
}