<template name="barcodeScanner">
	<!-- <button id="autoScan">自动识别</button> -->
	{{#if isMobile}}
		<button id="scan" class="btn  btn-primary">扫一扫</button>
	{{else}}
	  <h3>请使用手机版本扫描</h3>
	{{/if}}
	  <form action="" class="save_check form-inline">
		  <div class="form-group">
			  <label for="barCodeInput" >国际条码</label> 
			  <input type="text" name="barCode" class="form-control" id="barCodeInput" >
		  </div>
		  <div class="form-group">
			  <label for="countInput" >数量</label> 
			  <input type="number" name="count" class="form-control" id="countInput">
		  </div>
		  <button class="btn btn-primary form-control" type="submit" >确定</button>
		  (添加相同的国际条码会在原有的基础w上增加)
	  </form>
	<button class="btn btn-default" id="showBarcode">二维码</button>
	<table class="table table-striped">
	  <thead>
	  	<tr>
	  		<th>国际条码</th>
	  		<th>商品名称</th>
	  		<th>现有数量</th>
	  		<th>备注1</th>
	  		<th>商品规格</th>
	  		<th>库存</th>
	  		<th>二维码</th>
	  		<th>操作</th>
	  	</tr>
	  </thead>
	  <tbody>
	  {{#each check  in checkProducts}}
		  <tr class="{{isSameCount_Inventory check}}">
			<td>
				{{check.barCode}}
			</td>
			<td>
				{{check.product.productName}}
			</td>
			<td class=" col-md-2">
				<form action="" class="update_count form-inline" >
					<input  type="number" class="form-control" value="{{check.count}}" name="count">
					<input type="hidden" value="{{check.barCode}}" name="barCode">
					<button type="submit" class="form-control">确定</button>

				</form>
			</td>
			<td>
				<form action="" class="update_comment1 form-inline" >
					<input  type="text" class="form-control" value="{{check.comment1}}" name="comment1">
					<input type="hidden" value="{{check.barCode}}" name="barCode">
					<button type="submit" class="form-control">确定</button>

				</form>
			</td>
			<td>
				{{check.product.model}}
			</td>
			<td>
				{{check.product.inventory}}
			</td>
			<td>
				<img id="img{{pureNumber check.barCode}}" />
			</td>
			<td>
				<button class='delete btn btn-danger' barCode="{{check.barCode}}">删除</button>
			</td>
		  </tr>
	  {{/each}}
	  </tbody>
	</table>
</template>

