<template name="barcodeScanner">
	{{#if isMobile}}
	  <button id="scan">扫一扫</button>
	  
	  {{#if result}}
		  <h2>结果</h2>
	  	  {{result.barCode}} {{result.productName}} 
	  	  <h2>销售记录</h2>
	  	  {{#each sales}}
	  	  	{{ salesAmount }} {{ salesQuantity }} {{ singleCostPrice }} <br/>
	  	  {{/each}}
	  {{/if}}
	{{else}}
	  <h1>请使用手机版本扫描</h1>
	{{/if}}

	<table class="table table-striped">
	  <thead>
	  	<tr>
	  		<th>国际条码</th>
	  		<th>商品名称</th>
	  		<th>商品规格</th>
	  		<th>库存</th>
	  		<th>二维码</th>
	  	</tr>
	  </thead>
	  <tbody>
	  {{#each check  in checkProducts}}
		  <tr >
			<td>
				{{check.barCode}}		    
			</td>
			<td>
				{{check.product.productName}}		    
			</td>
			<td>
				{{check.product.model}}		    
			</td>
			<td>
				{{check.product.inventory}}		    
			</td>

			<td>
				<img id="img{{product.barCode}}" />
			</td>
		  </tr>
	  {{/each}}
	  </tbody>
	</table>
</template>

