<template name= "findSingleCost">
<h1>寻找没有单价的销售表</h1>
<h2>数量：{{ count }}</h2>
	{{log}}
	{{#each sale in data}}
	<div class="col-md-6 single-cost">
		{{sale.barCode}}
		{{sale.productName}}
		<br/>
		{{#autoForm id=makeUniqueID type="update" collection="SaleTable" doc=sale }}
			 {{> afQuickField name='singleCostPrice' class="col-md-6"}}
		<button type="submit" class="btn btn-primary" >保存</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		{{/autoForm}}
	</div>
	{{/each}}
</template>