<template name="huiCharts">
	<div class="row">
		<h2>月平均利润：{{ averagePerMonth }}</h2>
		<div id="profit" style="height:500px; " class="col-md-6"></div>
		<div class="col-md-6">
			{{#if profitTop10}}
				<center><h2 >{{ month }}利润前十</h2></center>
				<center><h2 >本月合计：{{ currentProfit }}元</h2></center>
				<table class="table table-striped">
				      <thead>
				        <tr>
				          <th>国际条码</th>
				          <th>商品名称</th>
				          <th>总利润</th>
				        </tr>
				      </thead>
				      <tbody>
				      	{{#each profitTop10}}
				      		<tr>
				      		  <td>{{barCode  }}</td>
				      		  <td>{{productName}}</td>
				      		  <td>{{twoDecimal profit}}</td>
				      		</tr>
				      	{{/each}}
				      </tbody>
			    </table>
			{{/if }}
		</div>
	</div>

</template>