<template name="huiCharts">
	<div class="row">
		<div id="profit" style="height:500px; " class="col-md-6"></div>
		<div class="col-md-6">
			{{#if top10}}
				<center><h2 >{{ month }}利润前十</h2></center>
				<table class="table table-striped">
				      <thead>
				        <tr>
				          <th>国际条码</th>
				          <th>商品名称</th>
				          <th>利润</th>
				        </tr>
				      </thead>
				      <tbody>
				      	{{#each top10}}
				      		<tr>
				      		  <td>{{barCode  }}</td>
				      		  <td>{{productName}}</td>
				      		  <td>{{twoDecimal profit}}</td>
				      		</tr>
				      	{{/each}}
				      </tbody>
			    </table>
			{{/if }}
		</div>
	</div>
	<div id="sales" style="width: 600px;height:400px;"></div>
	<script type="text/javascript">
	        // 基于准备好的dom，初始化echarts实例
	        var saleChart = echarts.init(document.getElementById('sales'));

	        // 指定图表的配置项和数据
	        var option = {
	            title: {
	                text: '月销量表'
	            },
	            tooltip: {},
	            legend: {
	                data:['销量']
	            },
	            xAxis: {
	                data: ["一月","二月","三月","四月","五月","六月"]
	            },
	            yAxis: {},
	            series: [{{ saleSource }}]
	        };

	        // 使用刚指定的配置项和数据显示图表。
	        saleChart.setOption(option);
	    </script>
</template>