<template name="insertSingleCost">
	<h1>填充销售表中没有单台成本价的产品</h1>
	<div>
		<a class='btn btn-primary' id="updateProductSingle">从excel更新产品表成本价</a>
		共更新产品表中单价合计<span id="updateProductSingleCount">0</span>
	</div>
	<div>
		<a class='btn btn-primary' id="updateSaleSingleFromProduct">从产品表更新销售表成本价</a>
		从产品表更新销售表中单价合计<span id="updateSaleSingleFromProductCount">0</span>
	</div>
	<div>
		<a class='btn btn-primary' id="updateSaleNoName">更新销售表空名称</a>
		更新销售表空名称合计<span id="updateSaleNoNameCount">0</span>
	</div>
	<div>
		<a class='btn btn-primary' id="caculateProfit">更新销售表利润</a>
		更新销售表利润合计<span id="caculateProfitCount">0</span>
	</div>
	<div>
		<a class='btn btn-primary' id="checkSameNameSingle">检测名称相同成本价不同</a>
		检测名称相同成本价不同合计<span id="checkSameNameSingleCount">0</span>
	</div>
</template>