<template name="products">
	<div class="col-md-">
		<button id="showBarcode">二维码</button>
		<table class="table table-striped">
		  <thead>
		  	<tr>
		  		<th>国际条码</th>
		  		<th>商品名称</th>
		  		<th>商品规格</th>
		  		<th>库存</th>
		  		<th>二维码</th>
		  	</tr>
		  </thead>
		  <tbody>
		  {{#each product  in products}}
			{{>oneProduct product}}
		  {{/each}}
		  </tbody>
		</table>
	</div>
</template>

<template name='oneProduct'>
	  <tr >
		<td>
			{{barCode}}		    
		</td>
		<td>
			{{productName}}		    
		</td>
		<td>
			{{model}}		    
		</td>
		<td>
			{{inventory}}		    
		</td>

		<td>
			<img id="img{{pureNumber barCode}}" />
		</td>
	  </tr>
</template>